<ion-view view-title="Current Trial">
	<ion-content class="padding">
		<!--<h2>Welcome to Ionic</h2>-->
		<p>
			This setup guide will walk you through the steps to create your self trial. A self trail helps you decide whehter certain food affects your symptoms.
		</p>
		<p>
			During the trial, you will be asked to eat your trial food on some morings and to avoid that food on other mornings.
		</p>
		<p>
			We will help you track your progress and symptom levels by sending you daily reminders.
		</p>
		<button class="button button-block button-medium button-positive" ui-sref="tab.dash.trial1">
			Set Up A New Trial
		</button>
	</ion-content>
</ion-view>
	
